* {
  margin : 0;
}

html, body {
  height: 100%
}

nav {
  position: fixed;
  width: 100%;
  background: red;
  background: rgba(255,0,0, .5);
  height: 50px;
  z-index: 10;
}

.section {
  height: 100%;
}

.sub-section {
  background: black;
  height: 50%;
}

.section-1 {
  background: url("../images/home.jpg");
  background-size: cover;
  background-position: bottom;
}

.section-2 {
  background-image: url("../images/about.jpg");
  background-size: cover;
}

.section-3 {
  background-image: url("../images/project.jpg");
  background-size: cover;
  background-position: center;
}

.section-4 {
  background-image: url("../images/contact.jpg");
  background-size: cover;
  background-position: bottom;
}
