* {
  margin : 0;
  font-style: grotesque;
}


html, body {
  background: black;
  height: 100%;
}

h1 {
  color: white;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 10;
  background: black;
  text-align: center;
  z-index: 20;
  font-size: 20px;
}

#opaque {
    background: rgba(0,0,0,.7);
}

a {
  text-decoration: none;
  color: white;
  margin: 30px;

}


p {
  color: white;
}

.section {
  background-attachment: fixed;
  height: 100%;
  position: relative;
}

.overlay {
    background: rgba(0,0,0,.4);
    height: 100%;
    z-index: 10;
    overflow-y: scroll;
}

.sub-section {
  background: url("https://blog.codezero.xyz/content/images/2015/11/ones-zeros-min.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 50%;
  /* add css animation that quickly changes opacity when you scroll and back */
  opacity: .4;
}

.section-1 {
  background: url("../images/home.jpg");
  background-size: cover;
  background-position: bottom;
}

.section-2 {
  background-image: url("../images/about.jpg");
  background-size: cover;
}

.section-3 {
  background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=37c91c8e3f63462e0739c676dfe8fee8&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center;
}

.section-4 {
  background-image: url("../images/contact.jpg");
  background-size: cover;
  background-position: bottom;
}

.section-5 {
  background-image: url("../images/skills.jpg");
  background-size: cover;
  background-position: top;
}


/**** Project Section ****/

.projectDiv {
  margin-top: 30px;
  text-align: center;
}

.projectDiv .projects {
  display: inline-block;
  background: rgba(255,255,255, .8);
  height: 340px;
  margin: 0 20px 20px 20px;
  overflow: hidden;
  padding: 0;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px #fff;
  transition: box-shadow 1s;
}

.projectDiv .projects:hover {
  transition: all 1s ease;
  box-shadow: 0 0 40px #ffdb7a;

}

.projectDiv .projects:hover .hoverBox {
   bottom: 0;
   transition: all 1s ease;
   width: 100%;
   overflow-y: scroll;
}


.projectDiv .projects:hover .hoverBox a {
  font-size: 30px;
}

.projectDiv .projects .hoverBox {
  background: rgba(0,0,0,.85);
  height: 100%;
  position: relative;
  bottom: -100%;
  /*width: 0;*/
  margin: 0;
  padding: 3px;
  color: white;
}

.projectDiv .projects .hoverBox h6 {
  color: #fff6db;
}

.projectDiv .projects .hoverBox h3 {
  color: #ffecb7;
}

/*custom scrollbar*/

.projectDiv .projects .hoverBox::-webkit-scrollbar {
    width: 8px;
}

.projectDiv .projects .hoverBox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.projectDiv .projects .hoverBox::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}


.projectDiv #chimneys {
  background-image: url("../images/chimneys.png");
  background-size: cover;
  background-position: top;
}

.projectDiv #thingdex {
  background-image: url("../images/thingdex.jpg");
  background-size: cover;
  background-position: top;
}

.projectDiv #icon {
  background-image: url("../images/icon.png");
  background-size: cover;
  background-position: center;
}



.projectDiv #euphoria {
  background-image: url("../images/euphoria.png");
  background-size: cover;
  background-position: top;
}

.projectDiv #superfoods {
  background-image: url("../images/superfoods.png");
  background-size: cover;
  /*background-position: left;*/
}

.projectDiv #spltn {
  background-image: url("../images/spltn.png");
  background-size: cover;
  background-position: center;
}

/*contact section*/

.contact-content {
  margin-top: 150px;
  text-align: center;
  color: #cecece;
  text-shadow: 3px 3px #000000;
}

.contact-content p {
  font-size: 50px;
}

.contact-content, .fab {
  font-size: 40px;
}

/* skills section*/

.skills-content {
  margin-top: 100px;
  height: 600px;
  text-align: center;
  text-shadow: 2px 2px #000000;
}

.skills-content h2 {
  margin-bottom: 20px;
  color: white;
  text-shadow: 3px 3px #000000;
  border-bottom: 2px solid white;
  display: inline-block;
}

.skills-content ul {
  padding: 0;
  margin 0;
}


.fav-format {
  display: inline-block;
  margin: 24px;
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 5px;
}

/* home section */
.home-content {
  margin-top: 90px;
  text-align: justify;
}

.home-content .bio {
  text-shadow: 2px 2px #000000;
}


.me {
  width: 320px;
  border-radius: 20px;
  opacity: 1;
  border: 5px solid black;
  margin-left: 30px;
  margin-bottom: 30px;
  object-fit: cover;

}

/* .me {
  height: 440px;
  width: 300px;
  border-radius: 20px;
  opacity: 1;
  border: 5px solid black;
  margin-left: 30px;
  margin-bottom: 30px;

} */

.home-content .my-name  {
  text-align: center;
  margin-bottom: 10px;
  font-size: 70px;
  text-shadow: 5px 5px #000000
}

.home-content .sub-head {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  text-shadow: 5px 5px #000000
}

/* about section */

.about-content {
  margin-top: 35px;
  text-align: justify;
  text-shadow: 2px 2px #000000
}

.about-content .app {
  margin-top: 115px;
  width: 160px;
  height: 160px;
  text-align: justify;
  border-radius: 35px;
  border: 2px solid white;
  text-shadow: 2px 2px #000000;
  transition: all 1s ease;
}


.about-content .book {
  width: 150px;
  height: 230px;
  margin-top: 40px;
  border: 2px solid white;
  transition: all 1s ease;
}

.about-content .book:hover, .about-content .youtubeVideo:hover, .about-content .app:hover {
  margin-top: 5px;
}


.about-content .youtubeVideo {
  width: 200px;
  height: 180px;
  margin-top: 90px;
  border: 2px solid white;
  border-radius: 15px;
  transition: all 1s ease;
  object-fit: cover;
}

/* .about-content .youtubeVideo:hover {
  margin-top: 5px;
} */
