* {
  margin : 0;
  font-style: grotesque;
}

html, body {
  background: black;
  height: 100%;
}

h1 {
  color: white;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 10;
  background: black;
  text-align: center;
  z-index: 20;
}

#opaque {
    background: rgba(0,0,0,.7);
}

a {
  text-decoration: none;
  color: white;
  margin: 30px;
  font-family: sans-serif;
}

p {
  color: white;
}

.section {
  background-attachment: fixed;
  height: 100%;
  position: relative;
}

.overlay {
    background: rgba(0,0,0,.4);
    height: 100%;
    z-index: 10;
    overflow-y: scroll;
}

.sub-section {
  background: url("https://blog.codezero.xyz/content/images/2015/11/ones-zeros-min.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 50%;
  /* add css animation that quickly changes opacity when you scroll and back */
  opacity: .6;
}

.section-1 {
  background: url("../images/home.jpg");
  background-size: cover;
  background-position: bottom;
}

.section-2 {
  background-image: url("../images/about.jpg");
  background-size: cover;
}

.section-3 {
  background-image: url("../images/project.jpg");
  background-size: cover;
  background-position: center;
}

.section-4 {
  background-image: url("../images/contact.jpg");
  background-size: cover;
  background-position: bottom;
}

.section-5 {
  background-image: url("../images/skills.jpg");
  background-size: cover;
  background-position: center;
}


/**** Project Section ****/

.projectDiv {
  margin-top: 70px;
  text-align: center;
}

.projectDiv .projects {
  display: inline-block;
  background: rgba(255,255,255, .8);
  height: 340px;
  margin: 0 20px 20px 20px;
  overflow: hidden;
  padding: 0;
  border: 3px solid black;
  border-radius: 10px;
}

.projectDiv .projects:hover .hoverBox {
   bottom: 0;
   transition: all 1s ease;
   width: 100%;
   overflow-y: scroll;

}

.projectDiv .projects:hover .hoverBox a {
  font-size: 30px;
}

.projectDiv .projects .hoverBox {
  background: rgba(0,0,0, .85);
  color: white;
  height: 100%;
  position: relative;
  bottom: -100%;
  /*width: 0;*/
  margin: 0;
  padding: 2px;
}

.projectDiv #project1 {
  background-image: url("../images/project1.png");
  background-size: cover;
  background-position: top;
}

.projectDiv #project2 {
  background-image: url("../images/project2.png");
  background-size: cover;
  background-position: top;
}

.projectDiv #project3 {
  background-image: url("../images/project3.png");
  background-size: cover;
  background-position: center;
}



.projectDiv #project4 {
  background-image: url("../images/project4.png");
  background-size: cover;
  background-position: top;
}

/*contact section*/

.contact-content {
  margin-top: 150px;
  text-align: center;
  color: #cecece;
  text-shadow: 3px 3px #000000;
}

.contact-content p {
  font-size: 50px;
}

.contact-content, .fab {
  font-size: 40px;
}

/* skills section*/

.skills-content {
  margin-top: 100px;
  height: 600px;
  text-align: center;
  text-shadow: 2px 2px #000000;
}

.skills-content h2 {
  margin-bottom: 20px;
  color: white;
  text-shadow: 3px 3px #000000;
  border-bottom: 2px solid white;
  display: inline-block;
}

.skills-content ul {
  padding: 0;
  margin 0;
}


.fav-format {
  display: inline-block;
  margin: 24px;
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 5px;
}

/* home section */
.home-content {
  margin-top: 90px;
  text-align: justify;
}

.home-content .bio {
  text-shadow: 2px 2px #000000;
}


.me {
  height: 440px;
  width: 300px;
  border-radius: 20px;
  opacity: 1;
  border: 5px solid black;
  margin-bottom: 30px;

}

.home-content .my-name  {
  text-align: center;
  margin-bottom: 10px;
  font-size: 70px;
  text-shadow: 5px 5px #000000
}

.home-content .sub-head {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  text-shadow: 5px 5px #000000
}

/* about section */

.about-content {
  margin-top: 100px;
  text-align: justify;
  text-shadow: 2px 2px #000000
}

.about-content .book {
  width: 150px;
  height: 230px;
  margin-top: 40px;
  border: 2px solid white;
}

.about-content .book:hover {
  margin-top: 5px;
}


.about-content .jre {
  width: 290px;
  height: 230px;
  margin-top: 40px;
  border: 2px solid white;
  border-radius: 15px;
}

.about-content .jre:hover {
  margin-top: 5px;
}
